GOOGLE_API_KEY=""

# memory process model
MODEL="gemini-3.1-pro-preview"
OPENAI_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
OPENAI_API_KEY=""

# response model
CHAT_MODEL="gemini-3.1-pro-preview"
CHAT_MODEL_BASE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
CHAT_MODEL_API_KEY=""
EVAL_MODEL="gemini-3.1-pro-preview"

# memos
MEMOS_KEY="mpg-xxxxx"
MEMOS_URL="http://127.0.0.1:8001"
MEMOS_ONLINE_URL="https://memos.memtensor.cn/api/openmem/v1"

#Qdrant API
QDRANT_URL=""
QDRANT_API_KEY=""